<div class="module headerpicturemenu" ng-controller="headerpicturemenuController">


  <div class="menu" ng-show="muestramenu" style="background-image:url('{{headerpicturemenu.modulescope.moduleBackground}}')">
      
      <a class="item"  ng-click="checkbutton(value.url)" ng-repeat="(key, value) in menu" ng-selected="isSelected(value.url)" ng-href="{{value.url}}" >
                    <i style="display:none">
                    <koa-icon src="{{value.icon}}" ng-if="!showicons && value.typeicon === 0"></koa-icon>
                    <iron-icon src="{{value.icon}}" class="itemicon" ng-if="!showicons && value.typeicon === 1"></iron-icon>
                    </i>
                    <em class="txt">{{value.text}}</em>
                    <p class="subtxt">{{value.subtext}}</p>
                  </a>
                  
                  
  </div>
  
  
<div class="content" ng-show="!muestramenu">
 <button ng-click="muestramenu = true">
     <koa-icon icon="{{headerpicturemenu.icon}}" id="menuIcon" class="menuIcon" ></koa-icon>
     </button>
  <!-- moduleIdentifier + Template - Needs embracing div -->

  <div ng-include="headerpicturemenuTemplate" class="template"></div>
</div>

<div class="img"></div>

<!-- end module html -->
</div>